body {
    background-color: rgb(16, 16, 16);
    font-family:Arial, Helvetica, sans-serif;
    max-width: 800px;
    margin: auto;
    padding: 15px;
}



/*navigation*/
#navigation {
    /*background-color: rgb(30, 30, 30);*/
    padding: 2px;
    /*border: solid rgb(98, 0, 255) 1px;*/
    border-radius: 5px;
}
#navigation ul {
    width: fit-content; /*réduire le la grandeur de ul*/
    padding: 6px;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 2px;
}
#navigation li{
    display: inline; /*les mettre alignée*/
    /* border: solid 1px black; */
    margin: 0px;
}
.ref {
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 25px;
}
.reference {
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    font-size: 13px;
    text-decoration: none;
    font-style: normal;
    font-style:italic;
    
}



canvas.centre {
    width: 350px;
    display: block;
    margin: auto;
    border: solid rgb(98, 0, 255) 2px;
    border-radius: 5px;
}




h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 10px;
    margin:10px;
    /*background-color: rgb(34, 34, 34);*/
    
    color: orangered;
    /*border-style: solid;
    /*border-color: orangered;*/
    
}

h2, h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    /*text-align: center;*/
    padding: 5px 5px 5px 10px ;
    margin: 10px;
    font-size: 20px;
    color: orangered;

    
}


/*paragaphe*/
p {
    inline-size: auto;
    margin: 10px;
    padding: 10px;
    line-height: 20px;
    max-width: 760px;
    text-align: justify;
    color: aliceblue;
    font-size: 14px;  
}
.important {
    background-color: rgb(52, 0, 107);
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 5px;
    border-left: rgb(34, 0, 70) solid 3px;
    max-width: 760px;

    
}
.l-important {
    background-color: rgb(52, 0, 107);
    margin-left: 20px;
    margin-right: 220px;
    margin-top: 20px;
    border-radius: 5px;
    border-left: rgb(34, 0, 70) solid 3px;
    max-width: 760px;

    
}
.table {
    max-width: 760px;
}



ul {
    margin: 10px;
    padding-left: 45px;
    color: aliceblue;
    font-size: 13px;
}
.matière {
    font-size: 13px;
}


/*mise en évidence dans le text*/
strong {
    text-decoration: underline;
    color: white;
    
}
.titre {
    text-decoration: underline;
    color: rgb(119, 0, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}






img {
    border-style: solid;
    border-radius: 15px;
    border-color: blueviolet;
    margin: 10px 10px 10px 10px;
    width: 200px;
    display: block;
}

img.img-float-f {
    width: 150px;
    float: left;
    display: block;
    margin-right: 10px;
}

img.img-float-r {
    width: 150px;
    float: right;
    display: block;
    margin-right: 20px;
}


figure.left {
    float: left;
    margin: 0px 0px 0px 10px;
    width: 200px;
    display: block;
}

figure.right {
    float: right;
    margin: 0px 0px 0px 0px;
    width: 200px;
    display: block;
}

figcaption.l {
    color: orange;
    margin: 0px 0px 0px 10px;
    font-size: 10px;
    float: left;
    display: block;
    font-style: italic;
}

figcaption.r {
    margin: 0px 20px 0px 0px;
    font-size: 10px;
    text-align: right;
    float: right;
    display: block;
    font-style: italic;
    color: orange;
}


/*liens*/
a {
    color: orange;
    font-size: 11px;
    text-decoration: none;
}

a > figcaption {
    color:orangered;
    text-decoration: underline;
}

/*math {
    color: aliceblue;
    padding: 5px;
    border-radius: 3px;
    
}*/







hr {
    border-style: solid;
    border-width:1px;
    border-color: rgb(98, 0, 255) ;
    display: block;
    margin: 10px;
    border-radius: 2px;
}







/*canvas*/
canvas {
    background-color: rgb(0, 0, 0);
    border-style: solid;
    border-width:2px;
    border-color: white ;
    display: block;
    margin: auto;
    border-radius: 10px;
}
.animation {
    background-color: white;
    border-style: solid;
    border-width:2px;
    border-color: rgb(149, 0, 255) ;
    display: block;
    margin: auto;
    border-radius: 10px;
}