body {
    background-color: black;
}


h1 {
    color: rgb(255, 0, 212) ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
}

h2 {
    color: rgb(255, 0, 212) ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
}

canvas {
    border: 3px solid white;

}