body {
    background-color: rgb(21, 21, 21);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    padding: 10px;
    margin:10px;
    border-radius: 5px;
    background-color: rgb(34, 34, 34);
    
    color: orangered;
    border-style: solid;
    border-color: orangered;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

h2, h3 {
    /*text-align: center;*/
    padding: 5px 5px 5px 10px ;
    margin: 10px;
    color: orangered;

    
}

p {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    line-height: 20px;

    text-align: justify;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: aliceblue;
    font-size: 14px;  
    
}

strong {
    text-decoration: underline;
    color: white;
}

.important {
    background-color: rgb(70, 0, 135);
    border-radius: 5px;
    border-left: rgb(93, 2, 191) solid 5px;
}


img {
    border-style: solid;
    border-radius: 15px;
    border-color: blueviolet;
    margin: 10px 10px 10px 10px;
    width: 200px;
    display: block;
    
}

a {
    color: rgb(255, 132, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif


}

/*math {
    color: aliceblue;
    padding: 5px;
    border-radius: 3px;
    
}*/







hr {
    border-style: solid;
    border-width:1px;
    border-color: white ;
    display: block;
    margin: 10px;
    border-radius: 10px;
}



ul {
    color: aliceblue;
}




canvas {
    background-color: rgb(0, 0, 0);
    border-style: solid;
    border-width:2px;
    border-color: white ;
    display: block;
    margin: auto;
    border-radius: 10px;
    
    
}