/*pour des iddées aller sur les autres site : emxempe modulo info*/
body {
    font-family: Arial, Helvetica, sans-serif;
}



h1, h2, h3 {
    color: #8044ff
}

.important {
    background-color: aqua;
}