body {
    background-color: rgb(9, 9, 9);
}


h1 {
    color: rgb(255, 136, 0) ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
}

h2 {
    color: rgb(136, 0, 255) ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
}

canvas {
    border: 3px solid white;
    background-color: rgb(255, 255, 255);

}