body {
    background-color: rgb(15, 14, 14);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    /*text-align: center;*/
    border-radius: 5px;
    background-color: rgb(34, 34, 34);
    padding: 10px;
    color: rgb(255, 150, 0);
    border-style: solid;
    border-color: rgb(255, 90, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

h2 {
    /*text-align: center;*/
    background-color: rgb(50, 49, 44);
    padding: 10px;
    color: rgb(255, 250, 0);
    border-style: solid;
    border-color: rgb(255, 90, 0);
    border-radius: 10px;
    
}

h3 {
    /*text-align: center;*/
    background-color: rgb(50, 49, 44);
    padding: 10px;
    color: rgb(255, 217, 0);
}
hr {
    border-style: solid;
    border-width:2px;
    border-color: white ;
    display: block;
    margin: auto;
    border-radius: 10px;
}

img {
    border-style: solid;
    border-radius: 15px;
    width: 300px;
    
}

a {
    color: aqua;
    font-style: initial;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    /*width: 350px;*/
    /*margin: auto;*/
    border-radius: 5px;
    padding: 15px;
    text-align: justify;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
    font-size: 14px;  
    padding: 15px;
    background-color: rgb(62, 13, 65);
}

ul {
    color: aliceblue;
}
canvas {
    background-color: rgb(0, 0, 0);
    border-style: solid;
    border-width:2px;
    border-color: white ;
    display: block;
    margin: auto;
    border-radius: 10px;
    
    
}